.header_container{
height: 72px;
left: 0px;
top: 0px;
display: flex;
justify-content: space-between;
border-bottom: 2px solid lightgrey;
}

 img{
  width: 60px;
  height: 60px;
  border-radius: 100px;
}

.logo_container{
  padding:5px
}