.tabs{
    padding-top:7px;
    padding-left: 35px;
    padding-right: 35px;
    padding-bottom:7px;
    background-color: #0B69FF;
    border:1px solid #D7DFE9;
    background: rgba(215, 223, 233, 0.24);
}