.resource_container{
    
    margin-left: 10%;
    margin-right: 10%;

}
.icon{
    width: 30px;
    height: 30px;
    border: 2px solid #D7DFE9;
    border-radius: 100px;
    padding: 17.45px;
}
.image{
    Width:29.09px;
    Height:29.09px;
}
.anchor_container{
    
    text-align: left;
    margin-bottom: 45px;
}
.title_category_container{
    padding-top: 0px;
    padding-left: 10px;
    text-align: left;
}
.icon_title_container{
    display: flex;
}
.description_container{
    
    text-align: left;
}
.update_button_container{
    text-align: left;
}
.items_container{
    display: flex;
}
.search_sort_container{
    display: flex;
    margin-left: auto;
}
.inputSearchBar{
    width:600px
}
.table_button_container{
    display: flex;
    justify-content: right;
}

.add_button{
   margin-right:15px;
  background-color: lightgreen;
   color: white;
   border:none;
   padding:10px
}
.delete_button{
    margin-right:15px;
   background-color: lightgrey;
    color: white;
    border:none;
    padding:10px
 }
.update_button{
    background-color: blue;
    color: white;
    border:none;
    padding:10px
}